* {
    margin: 0;
    padding: 0;
}


.video-block {
    height: auto;          
    width: 100%;
    z-index: -1;
    overflow: hidden;
}
        
.video-block video{
    width: 100%;
}


.filter-container {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.filter {
    height: 110px;
    width: 110px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700 !important;
    background-color: rgb(20, 20, 20);
    background-size: cover;
    background-position: bottom;
    padding: 18px;
    margin: 0;
    cursor: pointer;
}

    .filter p {
        font-weight: 700 !important;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-size: 1.3vmin;
    }

.card-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.card {
    height: 50vmin;
    width: 100%;
    min-height: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: hidden;
}

.card .price {
    color: grey;
}

.card .img{
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.card .img img{
    height: auto;
    width: 100%;
}


@media (max-width: 850px) {

    .filter-container {
        gap: 20px;
    }

    .filter {
        height: 75px;
        width: 75px;  
    }
}

@media (max-width: 600px) {

    .filter-container {
        gap: 10px;
    }

    .filter {
        height: 70px;
        width: 70px;     
    }

    .filter p {
        font-size: 1.8vmin;
    }

}

@media (max-width: 400px) {

    .filter-container {
        gap: 10px;
    }

    .filter {
        height: 50px;
        width: 50px;     
    }
}

