* {
    margin: 0;
    padding: 0;
}



.hero {
    background-image: url(../media/imgs/Figma\ Image.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

    .gradient {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: end;
        background-image: url(../media/imgs/Frame\ 11.png);
        background-size: cover;
        background-position: bottom;

    }

    .hero-text {
        margin-bottom: 7%;
        line-height: 60px;
    }
        h1 {
            font-size: 4vmin;
        }

        h6 {
            text-align: center;
            font-size: 2vmin;
            font-weight: light;
        }



.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

    .intro-video {
        width: 65%;
        height: 50vmin;
        background-color: cornflowerblue;
        margin-right: 1%;
    }

    .intro-text {
        width: 25%;
        height: 50vmin;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .intro-text p {
        font-size: 1.5vmin;
    }

    .intro-text a {
        color: black;
        font-size: 2vmin;
    }





.video-block {
    display: flex;
    max-height: 100vh;
    width: 100%;
    background-color: cornflowerblue;
}

    video {
        height: 100%;
        width: 100%;
    }


.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 20%;
}

    .service-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        width: 30%;
        height: 40%;
    }
    

        .service-item h3 {
            text-transform: uppercase;
        }

        .service-item button {
            width: 200px;
            height: 50px;
            font-size: 1.7vmin;
        }


    @media (max-width:550px) {
        
        .hero {
            height: 50vh;
        }

            .hero-text {
                margin-bottom: 7%;
                line-height: 30px;
            }
                h1 {
                    font-size: 4vmin;
                }
        
                h6 {
                    text-align: center;
                    font-size: 2.8vmin;
                    font-weight: light;
                }
     
        .intro {
            flex-direction: column;
            height: 50vh;
        }
        
            .intro-video {
                width: 70%;
                height: 50vmin;
            }
        
            .intro-text {
                width: 70%;
                height: 20vmin;
                flex-direction: row;
                justify-content: space-between;
            }
        
            .intro-text p {
                width: 70%;
            }
        
        .services-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 70vh;
            gap: 0;
        }
            .service-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                align-items: center;
                gap: 10%;
                width: 50%;
                height: 40%;
            }
        
                .service-item button {
                    width: 100px;
                    height: 50px;
                    font-size: 2.7vmin;
                }
        
    }





