* {
    margin: 0;
    padding: 0;
}


.card-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .cards-container {
        width: 90%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 200px;
    }

    .img-card {
        background-color: cornflowerblue;
        width: 600px;
        height: 70vmin;
    }

        .img-card:nth-child(3) {
            background-color: white;
        }
        .img-card:nth-child(5) {
            background-color: white;
        }
        .img-card:nth-child(8) {
            background-color: white;
        }
        .img-card:nth-child(10) {
            background-color: white;
        }
        .img-card:nth-child(14) {
            background-color: white;
        }
        .img-card:nth-child(15) {
            background-color: white;
        }
        .img-card:nth-child(16) {
            background-color: white;
        }
        .img-card:nth-child(19) {
            background-color: white;
        }



@media (max-width: 2100px) {
    .img-card {
        width: 500px;
        height: 65vmin;
    }
}

@media (max-width: 1700px) {
    .img-card {
        width: 450px;
        height: 55vmin;
    }
}

@media (max-width: 1700px) {
    .img-card {
        width: 400px;
        height: 45vmin;
    }
}

@media (max-width: 1360px) {
    .img-card {
        width: 300px;
        height: 500px;
    }
}



@media (max-width: 850px) {
    .img-card {
        width: 80%;
        height: 800px;
    }
    .img-card:nth-child(3) {
        display: none;
    }
    .img-card:nth-child(5) {
        display: none;
    }
    .img-card:nth-child(8) {
        display: none;
    }
    .img-card:nth-child(10) {
        display: none;
    }
    .img-card:nth-child(14) {
        display: none;
    }
    .img-card:nth-child(15) {
        display: none;
    }
    .img-card:nth-child(16) {
        display: none;
    }
    .img-card:nth-child(19) {
        display: none;
    }
}

@media (max-width: 550px) {
    .img-card {
        width: 80%;
        height: 500px;
    }
    .img-card:nth-child(3) {
        display: none;
    }
    .img-card:nth-child(5) {
        display: none;
    }
    .img-card:nth-child(8) {
        display: none;
    }
    .img-card:nth-child(10) {
        display: none;
    }
    .img-card:nth-child(14) {
        display: none;
    }
    .img-card:nth-child(15) {
        display: none;
    }
    .img-card:nth-child(16) {
        display: none;
    }
    .img-card:nth-child(19) {
        display: none;
    }
}

