* {
    margin: 0;
    padding: 0;
}

.card-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-container {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 200px;
}

.img-card {
    background-color: cornflowerblue;
    width: 600px;
    height: 70vmin;
    background-size: cover;
    background-position: center;
}

.img-card:nth-child(1) {
    background-image: url(../media/imgs/s1.avif);
}
.img-card:nth-child(2) {
    background-color: white;
    background-image: url(../media/imgs/s2.avif);
}
.img-card:nth-child(3) {
    background-color: white;
}
.img-card:nth-child(4) {
    background-image: url(../media/imgs/s3.avif);
}
.img-card:nth-child(5) {
    background-color: white;
}
.img-card:nth-child(6) {
    background-image: url(../media/imgs/s4.avif);
}
.img-card:nth-child(7) {
    background-color: white;
    background-image: url(../media/imgs/s5.avif);
}
.img-card:nth-child(8) {
    background-color: white;
}
.img-card:nth-child(9) {
    background-image: url(../media/imgs/s6.avif);
}
.img-card:nth-child(10) {
    background-color: white;
}
.img-card:nth-child(11) {
    background-image: url(../media/imgs/s7.avif);
}
.img-card:nth-child(12) {
    background-color: white;
    background-image: url(../media/imgs/s8.avif);
}
.img-card:nth-child(13) {
    background-image: url(../media/imgs/s9.jpeg);
}
.img-card:nth-child(14) {
    background-color: white;
}
.img-card:nth-child(15) {
    background-color: white;
}
.img-card:nth-child(16) {
    background-color: white;
}
.img-card:nth-child(17) {
    background-image: url(../media/imgs/s10.jpeg);
}
.img-card:nth-child(18) {
    background-image: url(../media/imgs/s11.jpeg);
}
.img-card:nth-child(19) {
    background-color: white;
}
.img-card:nth-child(20) {
    background-image: url(../media/imgs/s12.jpeg);
}
.img-card:nth-child(21) {
    background-image: url(../media/imgs/s13.avif);
}



@media (max-width: 2100px) {
    .img-card {
        width: 500px;
        height: 65vmin;
    }
}

@media (max-width: 1700px) {
    .img-card {
        width: 450px;
        height: 65vmin;
    }
}

@media (max-width: 1700px) {
    .img-card {
        width: 400px;
        height: 65vmin;
    }
}

@media (max-width: 1360px) {
    .img-card {
        width: 300px;
        height: 500px;
    }
}



@media (max-width: 850px) {
    
    .img-card {
        width: 80%;
        height: 800px;
    }
    .img-card:nth-child(3) {
        display: none;
    }
    .img-card:nth-child(5) {
        display: none;
    }
    .img-card:nth-child(8) {
        display: none;
    }
    .img-card:nth-child(10) {
        display: none;
    }
    .img-card:nth-child(14) {
        display: none;
    }
    .img-card:nth-child(15) {
        display: none;
    }
    .img-card:nth-child(16) {
        display: none;
    }
    .img-card:nth-child(19) {
        display: none;
    }

}

@media (max-width: 550px) {

    .img-card {
        width: 80%;
        height: 500px;
    }
    .img-card:nth-child(3) {
        display: none;
    }
    .img-card:nth-child(5) {
        display: none;
    }
    .img-card:nth-child(8) {
        display: none;
    }
    .img-card:nth-child(10) {
        display: none;
    }
    .img-card:nth-child(14) {
        display: none;
    }
    .img-card:nth-child(15) {
        display: none;
    }
    .img-card:nth-child(16) {
        display: none;
    }
    .img-card:nth-child(19) {
        display: none;
    }

}

